*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
   
}
body{
    background-color: rgb(15, 23, 97);
    color: white;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h1 {
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 50px;
}
    
.title h2 {
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
.converter{
    height: 400px;
    width: 80%;
    background-color: white;
   
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 130px;
    margin-right: 130px;

}
.currencies{
    display: flex;
    justify-content: space-around;
   
}
#currency1{
height: 100px;
width: 350px;
border: 1px solid black;
border-radius: 20px;
margin-top: 40px;
text-align: center;
font-size: x-large;
}
#currency2{
height: 100px;
width: 350px;
border: 1px solid black;
border-radius: 20px;
margin-top: 40px;
text-align: center;
font-size: x-large;
}
.amount{
    display: flex;
    display: flex;
    justify-content: space-around;
}
#inputamount{
height: 100px;
width: 350px;
border: 1px solid black;
border-radius: 20px;
margin-top: 30px;
text-align: center;
font-size: x-large;
background-color: rgb(177, 170, 170);
color: black;
}
#convertedAmount{
height: 100px;
width: 350px;
border: 1px solid black;
border-radius: 20px;
margin-top: 30px;
text-align: center;
font-size: x-large;
background-color: rgb(177, 170, 170);
color: black;
}
#msg{
    margin-top: 70px;
    text-align: center;
    font-size: larger;
}
    