*{
    padding: 0;
    margin: 0;
    border:border-box;
    scroll-behavior: smooth;
}

.NavBar{
    background-color: #020420;
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.NavBar a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent;
   padding: 10PX;
}
#navsearch{
    width: 620px;
    height: 40px;
    text-align: center;
    
}
select{
    height: 44.5px;
    position: relative;
    left: 23px;
    border-radius: 10%;
}
.NavBar2{
    background-color: #0c2447;
    height: 39px;
   
}
.NavBar2 a{
    display: inline-block;
    margin-right: 30px;
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent;
}
a:hover{
       border: 2px solid white;
      
      
       
}
#icon{
    transform: scale(1.5);
}
button{
    height: 45px;
    width: 48px;
    background-color: rgb(230, 170, 59);
    position: relative;
    right: 22.7px;
    border-radius: 10%;
    
}
button:hover{
    background-color: rgb(189, 179, 179);
}
#LOGO{
    transform: scale(3);
}

 /* followed apna college way of coding  */
.herosec{
    background-image: url(bgc.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    
}
.heromsg{
    background-color: white;
    color: black;
    font-size: 0.85rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80%;
    margin-bottom: 50px;
}
.heromsg a{
    color: green;
}
.shopsec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(235, 187, 195);
    
}
.box{
    width:23% ;
    height:380px;
    background-color: white ;
    /* border: 1px solid black; */
    padding: 20px 0px 15px;
    margin-top: 15px;
}

 .boximg{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }  
 .boximg4{
    height: 120px;
    width: 120px;
    background-size: cover;
    display: inline-block;
    margin: 15px;
    margin-bottom: 25px;
 }
 .boxcontent{
    margin-right: 1rem;
    margin-left: 1rem;
    
 }
 .boxcontent p{
    color: green;
    
    
 }
 .boxcontent button{
    width: 100px;
    margin-bottom: 200px;
    margin-left: 30px;
    position: relative;
    bottom: 12px;
    cursor: pointer;
 }
 .price{
    background-color: white;
    border: none;
    font-size: large;

 }

 footer{
    margin-top: 15px;
 }
 .footpanel1{
    background-color:#0c2447;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .footpanel1 a{
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
 }
 .footpanel2{
    display: flex;
    background-color: #222f3d;
    color: white;
    height: 350px;
    justify-content: space-evenly;
    
   
 }
 .footpanel2 a{
    color: white;
    text-decoration: none;
 }
 ul{
    margin-top: 25px;
 }
 ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
 }
 .footpanel3{
    background-color: #222f3d;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .logo i{
    
    transform: scale(3);
 }
 .footpanel4{
    
    justify-content: center;
   
    background-color:#0c2447;
    
    height: 70px;
    color: white;
    font-size: 0.7rem;
    text-align: center;
   
 }
 .pages{
     padding-top: 15px;
    
}
.trademark{
   
   padding-top: 5px;
}