*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
   
}
body{
    background-color: rgb(224, 226, 240);
    color: rgb(14, 13, 13);
}
h1{
    text-align: center;
    margin-top: 20px;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero h2{
font-weight: 10px;
margin-top: 100px;
}
.hero p{
font-weight: lighter;
margin-top: 15px;
width: 20%;
text-align: center;
}
.hero button{
margin-top: 15px;
height: 40px;
width: 120px;
background-color: orangered;
cursor: pointer;
border: transparent;
border-radius: 10px;
}
#TextField{
    
    padding: 10px;
    font-size: 16px;
    resize: none;     
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;

}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #addButton, #dltButton{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
} */
 #addButton, #dltButton, #upd{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    /* Smooth transition */
    transition: 
        transform 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease;
}

/* Hover Effect */
#addButton:hover, #dltButton:hover, #upd:hover{
    transform: translateY(-5px);             /* button upar lift ho */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* soft shadow */
    background-color: #f2f2f2;              /* light color change */
}

/* Click Effect */
#addButton:active, #dltButton:active{
    transform: translateY(0px) scale(0.97);  /* halka press animation */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#box2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}
#TextField2{
    padding: 10px;
    font-size: 16px;
    resize: none;     
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}